body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  background-image: url('/public/wallpaper.webp');
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  background-color: rgba(232, 30, 255, 0.8);  color: white;
  padding: 10px 20px;
  display: flex;
  border-radius: 0 0 25px 25px;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #007bff;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #c82333;
}
p{

  background-color: rgba(22, 19, 22, 0.8);  color: white;
  color: bisque;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #fff,
  0 0 1rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 1.3rem #bc13fe;
  font-weight: bold;
}